NODE_ENV=production

POSTGRES_DB=geostroy_db
POSTGRES_USER=geostroy_user
POSTGRES_PASSWORD=replace_with_postgres_password

DATABASE_URL=postgresql://geostroy_user:replace_with_postgres_password@postgres:5432/geostroy_db?schema=public

JWT_SECRET=replace_with_access_secret
JWT_ACCESS_SECRET=replace_with_access_secret
JWT_REFRESH_SECRET=replace_with_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

PORT=4000
BACKEND_PORT=4000
CORS_ORIGIN=http://194.34.239.146
FRONTEND_URL=http://194.34.239.146
NEXT_PUBLIC_API_URL=http://194.34.239.146/api

COOKIE_DOMAIN=
COOKIE_SECURE=false
